<!DOCTYPE html>
<html lang="en_us">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Rockstar Games">
    <meta name="theme-color" content="#000000">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            background-image: url("{{ url_for('static', filename='Images/troll.jpg') }}");
            background-size: cover;
            color: #000000;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .content {
            padding: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="content">
    </div>
</body>
</html>

